#diamond {
  position: relative;
  float: center;
  width: 100px;
  height: 100px;
  margin: 5px;
  padding: 10px;
  width: 140px;
  height: 140px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
#emerald {
  position: relative;
  float: center;
  width: 100px;
  height: 100px;
  margin: 5px;
  padding: 10px;
  width: 140px;
  height: 140px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
#ruby {
  position: relative;
  float: center;
  width: 100px;
  height: 100px;
  margin: 5px;
  padding: 10px;
  width: 140px;
  height: 140px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
#sapphire {
  position: relative;
  float: center;
  width: 100px;
  height: 100px;
  margin: 5px;
  padding: 10px;
  width: 140px;
  height: 140px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
#jewelsHolder {
  text-align: center;
}
