#instructions {
  text-align: left;
  background-color: #ffff99;
  margin: 20px;
  padding: 10px;
}
#rule1 {
  padding-bottom: 10px;
}
#rule2 {
  padding-bottom: 10px;
}
#rule3 {
  padding-bottom: 10px;
}
