#instructions {
  text-align: center;
  background-color: #ffff99;
  margin: 20px;
  padding: 8px;
  font-family: "Montserrat", sans-serif;
}
#rule1 {
  padding-bottom: 8px;
}
#rule2 {
  padding-bottom: 8px;
}
#rule3 {
  padding-bottom: 8px;
}
