#grid_style {
  text-align: center;
}
#gameScore {
  background-color: green;
  margin: 20px;
  padding: 3px;
}
#gameHeader {
  font-weight: normal;
  color: white;
  font-family: "Montserrat", sans-serif;
}
#winsAndLosses {
  background-color: aqua;
  margin: 20px;
  padding: 3px;
}
#winsAndLossesHeader {
  font-weight: normal;
  font-family: "Montserrat", sans-serif;
}
