#score {
  text-align: center;
  background-color: green;
  padding: 15px;
  margin-left: 230px;
  margin-right: 230px;
  margin-top: 20px;
}
#gameHeader {
  font-weight: normal;
  color: white;
}
#results {
  text-align: center;
  background-color: aqua;
  padding: 2px;
  margin-left: 230px;
  margin-right: 230px;
  margin-top: 5px;
}
#winsHeader {
  font-weight: normal;
  font-size: medium;
}
#lossesHeader {
  font-weight: normal;
  font-size: medium;
}
